.contact {
  height: 100vh;

  /* margin-bottom: 20px; */
  /* border-radius: 0.5rem; */
  background-color: #878792;
}

.contact a:link,
.contact a:hover {
  color: black;
  text-decoration: none;
}

.contact i {
  transform: scale(2);
  color: black;
}
