.home {
  min-height: 100vh;
  /* height: calc(100vh - 38px); */

  background-image: linear-gradient(rgba(5, 0, 20, 0.9), rgba(0, 0, 0, 0.3)),
    url("../images/newyork.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

.name {
  color: rgb(239, 239, 247);
  text-align: center;
  font-size: 3rem;
  letter-spacing: 25px;
  margin-bottom: 30px;
}

.about {
  color: rgb(158, 174, 202);
  text-align: center;
  margin-bottom: 20px;
}

.arrow {
  text-align: center;
  margin-top: 20px;
  color: azure;
}

.fa-chevron-circle-down {
  font-size: 2rem;
  color: rgb(204, 200, 200);
}

.social {
  text-align: center;
}

.social i {
  padding: 10px;
  font-size: 2rem;
}

a:link,
a:visited {
  color: whitesmoke;
}

a:hover {
  color: #bbb2b4;
}
