.home {
  height: 100vh;
  display: flex;

  position: relative;
  z-index: -1;
  /* alignment */
  text-align: center;
  flex-direction: column;
  justify-content: center;

  background-color: #64655f;
  /* background-image: url("/images/lake.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}

.arrow {
  position: absolute;
  bottom: 30px;
  right: 47%;
}

.fa-chevron-circle-down {
  font-size: 3rem;
}

.social i {
  padding: 10px;
  font-size: 2rem;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(236, 122, 122);
}
