.home {
  height: 100vh;
  display: flex;

  /* alignment */
  text-align: center;
  flex-direction: column;
  justify-content: center;

  background-color: #64655f;
  /* background-image: url("/images/lake.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}

.fa-chevron-circle-down {
  padding: 100px;
  font-size: 3rem;
}

.social i {
  padding: 10px;
  font-size: 2rem;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(236, 122, 122);
}
