.container {
}

.nav-bar {
  /* position: absolute; */
  /* background-color: #a2d5cd; */
  z-index: 1;
  /* margin-right: -30px; */
}

.nav-bar a:link {
  color: #c0bdbd;
}

.nav-bar a:visited {
  color: #c0bdbd;
}

.nav-bar a:hover {
  color: #fbfafa;
}
