.nav-bar {
  /* padding-top: 20px; */
  /* position: absolute; */
  z-index: 1;
}

.nav-bar a:link {
  color: white;
}

.nav-bar a:visited {
  color: white;
}

.nav-bar a:hover {
  color: rgb(107, 139, 151);
}
