.nav-bar {
  /* padding-top: 20px; */
  /* position: absolute; */
  z-index: 1;
}

.nav-bar a:link {
  color: #000000;
}

.nav-bar a:visited {
  color: #000000;
}

.nav-bar a:hover {
  color: #ffffff;
}
