.portfolio {
  height: 100vh;
  display: flex;

  /* alignment */
  /* text-align: center; */
  flex-direction: column;
  /* justify-content: center; */

  /* background-color: #8a7374; */
}

.card {
  /* width: 90%; */
  margin: 20px;
}
