.portfolio {
  display: flex;

  margin-bottom: 20px;
  /* border-radius: 0.5rem; */
  background-color: #f6f0e8;

  /* text-align: center; */
  flex-direction: column;
  /* justify-content: center; */
}

.card {
  /* width: 90%; */
  margin: 20px;
}
