.portfolio {
  padding-bottom: 90px;
}

.card {
  margin-bottom: 40px;
}

.card-text {
  min-height: 64px;
  max-height: 64px;
  overflow: hidden;
}

.card:hover .card-text {
  max-height: fit-content;
}
